build
*.iml
local.properties
/gradle.properties
/gradle
/.gradle
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dbnavigator.xml
/captures
.DS_Store
.externalNativeBuild
